body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.container {
  height: 800px;

  width: 800px;

  box-sizing: border-box;

  border: 1px solid #000;

  margin: 0 auto;
}

.row {
  height: 100px;

  width: 800px;

  display: flex;
}

.black {
  height: 100px;

  width: 100px;

  background-color: #000;
}

.white {
  height: 100px;

  width: 100px;

  background-color: #fff;
}
