.header{
  background-color: rgb(10, 7, 7);
  padding: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input{
  /* border: none; */
  border-radius: 1px solid brown;
}
span{
  font-size: 12px;
}
 